version: '3'

services:
  poll-backend-nginx:
    build: build/nginx
    image: poll-backend/nginx
    volumes:
     - "./volumes/nginx/log/:/var/log/nginx/"
     - "./build/nginx/dev.conf:/etc/nginx/conf.d/default.conf:ro"
     - "..:/project:ro"
    ports:
     - "8081:8081"
     - "8080:8080"
    networks:
     - poll-backend
  poll-backend-node:
    build: build/node
    image: poll-backend/node
    volumes:
     - "..:/project"
    networks:
     - poll-backend
  poll-backend-mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - './volumes/mongodata:/data/db'
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: secret
    networks:
      - poll-backend

networks:
  poll-backend:
    driver: bridge
